html 
  head 
    link(rel="stylesheet", href="css/style.min.css")
  body 
    include html/header
    main.page 
      h1 hello worlds
      span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est necessitatibus similique numquam. Reprehenderit libero adipisci, quod incidunt eos officia commodi vitae architecto fugiat sint eveniet magnam doloribus minus impedit dolor?
      img(src="@img/1.jpg", width="150", alt="")
    include html/footer
    footer 
    script(src='js/app.min.js')